/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #063b0d;
    color: whitesmoke;
    padding: 2px;
    text-align: center;
}
.barra {
    margin: 10px 10px 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
}

h1 {
    color: whitesmoke;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

nav {
    display: flex;
    justify-content: center; /* Centramos el título en la barra de navegación */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Sección del video con mayor separación respecto al header */
.video-section {
    text-align: center;
    color: whitesmoke;
    padding: 50px 60px; /* Aumentar padding superior e inferior */
    font-size: 2em;
} 

/* Miniatura del video */
.video-thumbnail {
    position: relative;
    width: 100%; /* Ancho del contenedor */
    padding-bottom: 56.25%; /* Proporción 16:9 */
    height: 50%; /* Altura inicial */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.video-thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta el iframe al ancho del contenedor */
    height: 100%; /* Ajusta la altura */
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0.7;
}

/* Galardones y nominaciones */
.awards {
    background-color: #063b0d; /* Fondo verde oscuro */
    padding: 50px 20px;
}
.gala div {
    margin-bottom: 20px;
    font-size: x-large;
}

.gala h4{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.awards h3 {
    text-align: center;
    font-size: 50px;
    color: #D4AF37;
    margin-bottom: 30px;
}


/* burger */
.menu-toggle {
    display: none;
}


.icono-hamburguesa {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}


.menu-desplegable {
    display: none; 
    position: fixed;
    top: 40px; 
    right: 10px;
    background-color: black;
    width: 200px; 
    transition: height 0.5s ease; 
    z-index: 999;
    padding-top: 10px; 
}

.menu-desplegable a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.menu-desplegable a:hover {
    background-color: #575757;
}

/* Cuando el checkbox está marcado, el menú se muestra */
.menu-toggle:checked + .icono-hamburguesa + .menu-desplegable {
    display: block; /* Mostrar el menú */
    height: auto;  /* Permite que la altura se ajuste según el contenido */
}

/* Footer */
footer {
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: whitesmoke;
}

footer p {
    margin: 0;
}


/* Mostrar el botón cuando se hace scroll */
body.scrolled #scrollTopButton {
    display: block;
}
