


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #063b0d;
    color: whitesmoke;
    padding: 2px;
    text-align: center;
}

.barra {
    margin: 10px 10px 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.titulo img {
    width: 40px;
    height: 40px;
    justify-content: center;
}

h1 {
    color: whitesmoke;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.histo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home-icon, .menu-icon {
    width: 40px;
    height: 40px;
    background-color: #84905e;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.column {
    width: 50%;
    justify-content: center;
}

.column h2 {
    font-size: 30px;
    color: #84905e;
    margin-bottom: 20px;
    text-align: center;
}

nav .text {
    margin: 20px;

}

.personaje{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 50px;
}


.personaje img, .dato img {
    width: 302px;
    height: 230px;
    object-fit: cover;
    margin-right: 20px;
    padding-top: 10px;
}
.dato{
    padding-top: 10px;
    align-items: center;
    align-content: center;
}

.maqui iframe {
    width: 750px;
    height: 500px;
    margin: 10px 10px 20px 20px;
}

.locacion img {
    width: 750px;
    height: 542px;
    object-fit: cover;
    margin-right: 20px;
    padding-top: 10px;
}

.text-content {
    max-width: 300px;
}

.tex {
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 10px;
    justify-content: center;
}

.personaje h3, .dato h3 {
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 10px;
    justify-content: center;
}

.rodaje {
    padding-top: 10px;
    margin: 20px 2px 20px 20px
}


.menu-toggle {
    display: none;
}


.icono-hamburguesa {
    position: fixed;
    top: 25px;
    right: 25px; 
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}


.menu-desplegable {
    display: none; 
    position: fixed;
    top: 40px; 
    right: 10px;
    background-color: black;
    width: 200px; 
    transition: height 0.5s ease; 
    z-index: 999;
    padding-top: 10px; 
}

.menu-desplegable a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.menu-desplegable a:hover {
    background-color: #575757;
}


.menu-toggle:checked + .icono-hamburguesa + .menu-desplegable {
    display: block; 
    height: auto;  /
}

footer {
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: whitesmoke;
}

footer p {
    margin: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 90%;
        margin-bottom: 40px;
    }

    .personaje img, .dato img {
        width: 100px;
        height: 130px;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    .personaje, .dato {
        flex-direction: column;
        align-items: center;
    }

    .personaje img, .dato img {
        margin-bottom: 10px;
    }

    .text-content {
        max-width: 100%;
        text-align: center;
    }
    
    
}

