/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #063b0d;
    color: whitesmoke;
    padding: 2px;
    text-align: center;
}

.barra {
    margin: 10px 10px 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
}

h1 {
    color: whitesmoke;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.works-section {
    padding: 20px;
    text-align: center;
}

.works-section h2 {
    margin-bottom: 20px;
    color: #D4AF37;
    font-size: 50px;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    padding: 0 10px;
    align-items: stretch;
}

.work-item {
    background-color: #111;
    padding: 15px;
    border-radius: 10px;
}

.work-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.work-item h3 {
    color: #E6C200;
    margin-bottom: 20px;
    font-size: 25px;
}

.work-item p {
    font-size: 14px;
    color: #D4AF37;
}

.menu-toggle {
    display: none;
}


.icono-hamburguesa {
    position: fixed;
    top: 25px;
    right: 25px; 
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}


.menu-desplegable {
    display: none; 
    position: fixed;
    top: 40px; 
    right: 10px;
    background-color: black;
    width: 200px; 
    transition: height 0.5s ease; 
    z-index: 999;
    padding-top: 10px; 
}

.menu-desplegable a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.menu-desplegable a:hover {
    background-color: #575757;
}

/* Cuando el checkbox está marcado, el menú se muestra */
.menu-toggle:checked + .icono-hamburguesa + .menu-desplegable {
    display: block; /* Mostrar el menú */
    height: auto;  /* Permite que la altura se ajuste según el contenido */
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
   .works-grid {
        grid-template-columns: repeat(2, 1fr); 
   }
    .barra {
            background-color: #063b0d;
            color: black;
            text-align: center;
        }
    
        header {
            background-color: #063b0d;
            color: whitesmoke;
            padding: 2px;
            text-align: center;
            font-size: 45%;
        }
        .logo img{
            margin-top: 10px;
            width: 40px;
            height: 40px;
            justify-content: center;
        }
        .works-section h2 {
            margin-bottom: 20px;
            color: #D4AF37;
            font-size: 25px;
        }
    
        section .img-uno, section .img-tres{
            grid-row: span 4;
        }
    }

@media (min-width: 0px) and (max-width: 999px) {
    .works-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px 5px;
        
    }

    .barra {
        background-color: #063b0d;
        color: black;
        text-align: center;
    }

    header {
        background-color: #063b0d;
        color: whitesmoke;
        padding: 2px;
        text-align: center;
        font-size: 45%;
    }
    .logo img{
        margin-top: 5px;
        width: 15px;
        height: 15px;
        justify-content: center;
        margin-top: 10px;
    }
    .works-section h2 {
        margin-bottom: 20px;
        color: #D4AF37;
        font-size: 25px;
    }

    .icono-hamburguesa {
        position: fixed;
        top: 5px;
        right: 5px; 
        font-size: 20px;
        cursor: pointer;
        z-index: 1000;
    }

}