//import de variables

@import "../utilidades/variables";
@import "../utilidades/mixin";




.histo {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
}

.historia h2{
    font-size: 2.5em;
    color: $color-principal;
    margin:30px;    
}
.escenas h3 {
    font-size: 2.5em;
    color: $color-principal;
    margin:30px;
    @include align-content; 
}
.pahisto {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}

.name-video {
    @include flex;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

h2 .video-uno, .video-dos {
    object-fit: cover;
}

/* main personajes */
.column .column2 {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
}

.content h2, .column h2{
    font-size: 2.5em;
    color: $color-principal;
    margin:30px;   
    align-content: center;  
    
}

.content {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
}
.personaje{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 50px;
}

.personaje img{
    width: 302px;
    height: 230px;
    object-fit: cover;
    margin-right: 20px;
    padding-top: 10px;
}

.personaje, .dato {
    flex-direction: column;
    align-items: center;
}

.dato{
    padding-top: 10px;
    @include align-items;
    @include align-content;
}

.dato .card img{
    width: 330px;
    height: 330px;
    }

.maqui iframe {
    object-fit: cover;
}

.text-content {
    max-width: 300px;
}

.text {
    font-size: 20px;
    color: $color-principal;
    margin-bottom: 10px;
    justify-content: center;
}

.rodaje {
    padding-top: 10px;
    margin: 20px 2px 20px 20px
}

.video-uno, .video-dos img {
    object-fit: cover;
}


/* main simbologia */
.datos-curiosos .parra {
    font-size: 22px;
    line-height: 1.6;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.simbologia .parra{
    font-size: 22px;
    line-height: 1.6;
}
/* main ver peli */
.video-section {
    text-align: center;
    color: $color-texto;
    padding: 50px 60px;
    font-size: 2em;
} 

.video-section h2{
    font-size: 1em;
    color: $color-principal;
    margin: 30px;
    align-content: center;
}
.video-thumbnail {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%; 
    height: 50%; 
    overflow: hidden; 
}

.video-thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}

.awards {
    background-color: $color-barra; 
    padding: 50px 20px;
}
.gala div {
    margin-bottom: 20px;
    font-size: x-large;
}

.gala h4{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.awards h3 {
    text-align: center;
    font-size: 50px;
    color: #D4AF37;
    margin-bottom: 30px;
}



footer {
    @include footer;
}
footer p {
    margin: 0;
}
/* MEDIA QUERIES */
@media screen and (min-width: 600px ) {
    @media screen and (min-width: 600px) {
        body{
            background-color: black;
            color: whitesmoke;
        }
    
        main {
            gap: 20px;
            margin-top: 20px;
            padding: 100px;
        }
    
        .historia h2, .escenas h3{
            font-size: 2.5em;
            color: whitesmoke;
            margin:30px;    
        }
        
        .icono-hamburguesa {
            position: fixed;
            top: 25px;
            right: 50px; 
            font-size: 30px;
            cursor: pointer;
            z-index: 1000;
            margin-top: -10px;
        }
    
        .histo img {
            width: 100%;
            height: 100%;
        }
    
        .text {
            font-size: 20px;
            color: whitesmoke;
            margin-bottom: 10px;
            justify-content: center;
        }
    
        .contenido h2, .column h2{
            font-size: 50px;
            color: whitesmoke; 
        }
    
        .contenido {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            padding: 20px;
            justify-items: center;
        }
        
        .dato .card img{
            width: 800px;
            height: 800px;
        }
    
        .contenido{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            padding: 20px;
        }
        
        .contenido h2 {
            text-align: center;
            color: whitesmoke;
            margin-bottom: 25px;
            padding-top: 25px;
        }
        .video-section h2{
            color: whitesmoke;
        }
    
        .works-grid {
            grid-template-columns: repeat(2, 1fr); 
        }
    
       .works-section {
        padding: 20px;
        text-align: center;
        }
    
        .works-section h2 {
            margin-bottom: 20px;
            color: #D4AF37;
            font-size: 50px;
        }
    
        .works-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columnas */
            gap: 20px;
            padding: 0 10px;
            align-items: stretch;
        }
    
        .work-item {
            background-color: #111;
            padding: 15px;
            border-radius: 10px;
        }
    
        .work-item img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    
        .work-item h3 {
            color: #E6C200;
            margin-bottom: 20px;
            font-size: 25px;
        }
    
        .work-item p {
            font-size: 14px;
            color: #D4AF37;
        }
    
    }    
}    





